body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    /* background-color: darkred; */
    background-image:url("stars.jpg");
}

#board {
    background-color: whitesmoke;
    border-bottom: 1px solid rgb(92, 86, 86);
}