body{
    text-align: center;
    background-color: darkred;
    color: #ffffff;
}

#board{
    background-color: #fff;
    border-bottom: 1px solid black;
 /* border-bottom: width style color; */
}

